@model DataLayer.Blog

@{
    ViewBag.Title = "ShowBlog";
}

<!-- blog page -->
@section section{
    <section class="blog-page-header">
        <div class="col-lg-12 p-0 blog-image mb-5">
            <img src="~/BlogImages/@Model.BlogImageName" alt="blogpage" class="img-fluid">
        </div>
    </section>
}
<div class="container pb50 text-right" style="direction: ltr;">
    <div class="row">
        <div class="col-md-9 mb40">
            <article>
                <div class="post-content">
                    <h3>@Model.BlogSubject </h3>
                    <ul class="post-meta list-inline">
                        <li class="list-inline-item">
                            <a href="#">نیلوفر خادمی</a><i class="fa fa-user-circle-o"></i>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">@Model.BlogDate.ToShamsi()</a><i class="fa fa-calendar-o"></i>
                        </li>
                        <li class="list-inline-item">
                            @foreach (var item in Model.BlogTag.Split('،'))
                            {
                                <a href="/Blogs/Tags/@item">@item</a>
                            }
                            <i class="fa fa-tags"></i>
                        </li>
                    </ul>
                    <p>@Model.BlogDesc</p>
                    <p class="lead">@Html.Raw(Model.BlogContent)</p>
                    <ul class="list-inline share-buttons">

                        <li class="list-inline-item">
                            <a href="#" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="social-icon-sm si-dark si-colored-linkedin si-gray-round">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">:راه های اشتراک گذاری</li>
                    </ul>
                    <ul class="list-inline">
                        @foreach (var item in Model.BlogTag.Split('،'))
                        {
                            <li class="list-inline-item">
                                <a href="/Blogs/Tags/@item" class="list-unstyled">
                                    @item
                                </a>
                            </li>
                        }

                        <li class="list-inline-item">:تگ ها</li>
                    </ul>
                    <hr class="mb40">
                    <h4 class="mb40 text-uppercase font500">درباره نویسنده</h4>
                    <div class="media-block mb40">
                        <a class="media-right ml-2" href="#"><img class="img-circle img-sm " alt="Profile Picture" src="~/Content/images/avatars/girl.jpg"></a>
                        <div class="media-body">
                            <h5 class="mt-0 font700">نیلوفر خادمی</h5> 	لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
                        </div>
                    </div>
                    <hr class="mb40">
                    <h4 class="mb40 text-uppercase font500">دیدگاه های کاربران</h4>
                    <div class="panel">
                        <div class="panel-body">
                            <div class="media-block pad-all text-right" id="commentList">
                                    @Html.Action("ShowCommentByBlogId");
                                </div>
                            </div>
                            <!--===================================================-->
                            <!-- End Newsfeed Content -->
                        </div>

                    <h4 class="text-center">ثبت نظر</h4>
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="float-right">نام</label>
                                <input type="text" class="form-control" id="UserName">
                            </div>
                            <div class="form-group">
                                <label class="float-right">ایمیل</label>
                                <input type="email" class="form-control" id="UserEmail">
                            </div>
                            <div class="form-group">
                                <label class="float-right">دیدگاه</label>
                                <textarea class="form-control" rows="5" id="UserComment"></textarea>
                            </div>
                            <div class="mar-top clearfix">
                                <button class="btn btn-sm btn-primary pull-right" type="submit" onclick="AddComment()"><i class="fa fa-pencil fa-fw"></i> ثبت نظر</button>
                            </div>
                        </div>
                    </div>
</article>
        </div>
        <div class="col-md-3 mb40">
            <div class="mb40">
                <form action="/SearchBlog" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="جستجو" aria-describedby="basic-addon2" name="q">
                        <div class="input-group-append">
                            <button class="input-group-text" id="basic-addon2" ><i class="fa fa-search"></i></button>

                        </div>
                    </div>
                </form>
            </div>
            @Html.Action("ShowBlogCat");
            @Html.Action("LastBlogs");
        </div>

    </div>
</div>

    </div>
</div>

<!-- end of blog page -->
<script>
        function AddComment() {
        $.ajax({
            url: "/Blogs/AddComment/" +@Model.BlogId,
            method: "Get",
            data: { name: $("#UserName").val(), email: $("#UserEmail").val(), blogcomment: $("#UserComment").val() }
        }).done(function (result) {
            $("#commentList").html(result);
            $("#UserName").val(" ");
            $("#UserEmail").val(" ");
            $("#UserComment").val(" ");
        })
    }
</script>